[Unit]
Description=Selenium Hub
After=selenium-grid-extras.service

[Service]
Restart=always
User=develenv
ExecStart=/opt/ss/develenv/platform/selenium/hub/start_selenium_hub_extras.sh

[Install]
WantedBy=multi-user.target
