[Unit]
Description=Selenium standalone
After=selenium-standalone.service

[Service]
Restart=always
User=develenv
EnvironmentFile=/opt/ss/etc/develenv-selenium.cfg
ExecStart=/usr/bin/java -jar /opt/ss/develenv/platform/selenium/selenium-server-standalone.jar standalone --maxsession 2

[Install]
WantedBy=multi-user.target
