[Unit]
Description=Selenium Node
After=selenium-node.service

[Service]
Restart=yes
User=develenv
EnvironmentFile=/opt/ss/etc/develenv-selenium.cfg
ExecStart=/opt/ss/develenv/platform/selenium/node/start_selenium_node_extras.sh

[Install]
WantedBy=multi-user.target
