[Unit]
Description=Xvfb

[Service]
Restart=always
ExecStart=/usr/bin/Xvfb :20 -ac -screen 0 1024x768x8 +extension RANDR +extension XTEST

[Install]
WantedBy=multi-user.target
